<div class="container my-5">
  <div class="row">
    <div class="col">
      @if (products.length > 0) {
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>description</th>
            <th>price</th>
          </tr>
        </thead>
        <tbody>
          @for (product of products; track $index) {
          <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>
              <button (click)="onUpdateProduct(product)">Actualizar</button>
            </td>
            <td>
              <button (click)="onRemoveProduct(product)">Quitar Producto</button>
            </td>
          </tr>
          }
        </tbody>
      </table>
      } @else {
      <div>Lo sentimos, no hay productos</div>
      }
    </div>
    <div class="col">
      <product-form (newProductEvent)="addProductHandler($event)" [product]="selectedProduct"></product-form>
    </div>
  </div>
</div>
